/* .Beer_image {
  height: 10rem;
  width: 4rem;
}

.Beer_body {
  display: flex;
  flex-direction: column;
}

.each-card {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 15px;
  padding: 13px;
  -webkit-box-shadow: 5px 6px 17px 5px rgba(124, 134, 139, 0.75);
  -moz-box-shadow: 5px 6px 17px 5px rgba(124, 134, 139, 0.75);
  box-shadow: 5px 6px 17px 5px rgba(124, 134, 139, 0.75);
  margin: 20px auto;
}

.image {
  height: 18rem;
  width: 18rem;
  margin-right: 1rem;
}
.text {
  margin-top: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 15rem;
}
.heading-star {
  display: flex;
  justify-content: space-around;
}

.BeerList_CardBody {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.Beer_star {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .BeersList_container {
    grid-template-columns: repeat(2, 1fr);
    width: 15rem;
    margin: 0px auto;
  }
} */

.beer_image {
  width: 4rem;
  height: 9rem;
}

.beer_body {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.4s ease;
  height: 15rem;
  -webkit-box-shadow: 1px 1px 9px 9px #7e7d7d;
  box-shadow: 1px 1px 9px 1px #7e7d7d;
}

.beer-container {
  display: flex;
  color: #000;
}

.beer_description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.beer_card_title {
  display: flex;
  justify-content: space-between;
}

.beer_card_body {
  margin-top: -1rem;
}

.Beer-filled-star {
  color: rgb(20, 189, 173);
  width: 17px;
  position: relative;
  margin-bottom: 1rem;
}

.Beer-empty-star {
  color: rgb(20, 189, 173);
  width: 17px;
  position: relative;
  margin-bottom: 1rem;
}
.beer-learn-more {
  margin-left: 15px;
  background: rgb(150, 211, 206);
  color: #464545;
  border: none;
}
.beer-learn-more:hover {
  background: rgb(20, 189, 173);
  border: none;
  -webkit-box-shadow: 1px 1px 9px 9px #7e7d7d;
  box-shadow: 1px 1px 9px 1px #7e7d7d;
}

@media only screen and (max-width: 370px) {
  .beer_card_body {
    width: 12.7rem;
  }
  .beer_image {
    width: 3rem;
  }
}

@media only screen and (max-width: 300px) {
  .beer_card_body {
    width: 10rem;
    height: 12rem;
  }
}
